*{
    margin: 0;
}

html{
    height: 80px;
    width: 100%;
    background-color: white;
}

nav{
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: cornflowerblue;
    color: white;
    box-sizing: border-box;
    padding: 20px 8px;
    display: flex;
    justify-content: right;
}

.logo{
    position: fixed;
    left: 20px;
}

a{
    color: white;
    text-decoration: none;
    margin-right: 15px
}

.banner{
    width: 100%;
    background-image: url("https://goombastomp.com/wp-content/uploads/2020/10/100-Greatest-Funko-Pop-Figures.jpg");
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 75px;
}

.banner2{
    padding-bottom: 60px;
    width: 100%;
    background-color:cornflowerblue;
    height: 400px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.title1{
    color: white;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial;
}

.container{
    padding-top: 50px;
    padding-bottom: 50px;
    height: 250px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box{
    height: 200px;
    width: 50%;
    background-color: cornflowerblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.textbox{
    color: white;
    margin: 8px;
    display: inline-flex;
    text-align: center;
    font-family: Arial;
}

.paragraph{
    color: white;
    margin: 8px;
    width: 50%;
    display: flex;
    font-size: 25px;
    text-align: center;
}

.wrapper{
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

.footer{
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: cornflowerblue;
    color: white;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}